@import '~normalize.css';
@import './reset';
@import './colors';
@import './fonts';

html,
body {
  height: 100%;
}
body {
  background-color: $black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: $white;
}

p {
  margin: 18px 0;
}

a:link {
  color: $blue;
}

a:visited {
  color: $violet;
}

a:hover {
  color: $green;
}
