h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

button {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:active,
  &:focus {
    outline: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
