.container {
  position: relative;
  padding: 24px 20px;
}

.config {
  position: relative;
  padding: 20px;
}

.config-content {
  position: relative;
  padding: 0 20px;
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow-wrap: break-word;
}
